body{
    background-color: #007499;
    margin: 0;
}
main{
    padding-top: 9.2rem;
}
img{
    max-width: 100%;
}
header{
    background-color: #62c2df;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.title{
    background-color: #daf4fa;
    display: inline-flex;
    align-items: center;
    padding: .5rem 3rem .5rem 2rem ;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
.title img{
    width: 8rem;
}
.title h1{
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin-left: 2rem;
    color: #007499;
}
.hamburger{
    width: 60px;
    padding: 1rem;
}
.hamburger hr{
    margin: .74rem 0;
    border: 4px solid #007499;
    border-radius: 1rem;
}
nav{
    background-color: #bbf2ff;
    position: fixed;
    width: 50%;
    top: 0;
    align-content: flex-end;
    border-bottom-left-radius: 3rem;
}
nav a{
    display: block;
    background-color: #009699;
    color: #daf4fa;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0;
    border-radius: 2rem;
    margin: 1rem auto;
    margin: 2rem;
    font-family: "bahnschrift", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
nav a:hover{
    background-color: #00cccc;
}
nav{
    right: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.show{
    right: 0;
}
header nav{
    transition-property: right;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    top: 9.2rem;
}
.angel{
    margin-bottom: -.5rem;
}
.about{
    background-color: #bbf2ff;
    margin-top: 0;
    padding: 4rem;
}
.about img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about h2{
    font-family: 'Bauhaus 93', sans-serif;
    color: #007499;
    font-size: 35px;
    margin-bottom: 1rem;
}
.about p{
    font-family: "bahnschrift", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #009699;
    font-size: 18px;
    margin-top: 0;
}
.other-info{
    background-color: #bbf2ff;
    margin: 3rem;
    border-radius: 4rem;
    padding: 2rem;
    flex-wrap: wrap;
    display: inline-flex;
}
.other-info h3{
    font-family: 'Bauhaus 93', sans-serif;
    color: #007499;
    font-size: 35px;
    margin-bottom: 1rem;
}
.other-info ul{
    font-family: "bahnschrift", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #00cccc;
    font-size: 18px;
    margin-top: 0;
}
.other-info h4{
    font-family: "bahnschrift", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #009699;
    font-size: 18px;
    margin-top: 0;
}
.education ul{
    list-style: none;
}
.skills, .languages{
    display: inline-block;
    justify-content: space-between;
    margin: 0 auto;
}
.gallery{
    background-color: #88f3ff;
    display: block;
    margin: 2rem;
    border-radius: 2.5rem;
    width: fit-content;
    padding: 0 2rem;
    font-family: 'Bauhaus 93', sans-serif;
    color: #007499;
    font-size: 35px;
    margin-bottom: 1rem;
}
.line{
    flex-grow: 1;
}
.line hr{
    border: 4px solid #bbf2ff;
    border-radius: 1rem;
    width: auto;
    margin-left: 2rem;
}
.block{
    background-color: #009699;
    font-family: 'Bauhaus 93', sans-serif;
    color: #bbf2ff;
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    margin: 1rem .5rem;
    border-radius: 1rem;
}
.images{
    background-color: #00b4b1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem .5rem;
}
.images img{
    max-width: auto;
    height: 16rem;
    margin: .2rem;
}
footer{
    background-color: #62c2df;
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: right;
    justify-content: flex-end;
}
footer h3{
    font-family: "bahnschrift", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: #007499;
    margin-bottom: 0; 
}
footer a{
    font-family: "bahnschrift", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #007499;
    text-decoration: none;
    margin-top: 0;
}
.email a:hover{
    text-decoration: underline;
}
footer a, h3{
    padding-right: 2rem;
}
footer img{
    width: 6rem;
    border-left: 3px solid #007499;
    padding-left: 3rem;
    border-radius: 1px;
}
.images {
    display: none;
}
.images.show {
    display: flex !important;
}
section span {
    display: inline-block;
    transition: transform 0.3s ease;
}
span.rotate {
    transform: rotate(90deg);
}
@media (min-width: 685px){
    .other-info{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 1rem;
    }
    .education{
        width: 100%;
        margin-bottom: 0;
    }
    .skills,.languages{
        flex: 1;
        display: block;
        margin: 0;
    }
}
@media (min-width: 768px){
    .other-info{
        display: flex;
        max-width: 900px;
    }
}
@media (min-width: 1000px){
    .about{
    display: flex;
} 
.about p{
    font-size: 26px;
}
.about h2{
    font-size: 39px;
}
.about img{
    width: 30%;
    padding-right: 2rem;
}
.other-info{
    display: flex;
    gap: 20px;           
    align-items: flex-start;
    margin: 3rem auto;
}
.skills, .education,.languages{
    flex: 1;             
    padding: 15px;
}
.education ul{
    padding-left: .5rem;
}
}
@media (min-width: 1116px){
    .hamburger{
        display: none;
    }
    header{
        position: static;
    }
    header nav{
        position: static;
        background-color: unset;
        width: unset;
    }
    header nav a{
        border: none;
        padding: 1rem 2rem;
        display: inline-block;
    }
    main{
    padding-top: 0;
    }
}